* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: rgba(48, 64, 64, 1.0);
    background: -webkit-radial-gradient(center, rgba(48, 64, 64, 1.0) 0%, rgba(0, 0, 0, 1.0) 100%);
    background: -moz-radial-gradient(center, rgba(48, 64, 64, 1.0) 0%, rgba(0, 0, 0, 1.0) 100%);
    background: radial-gradient(ellipse at center, rgba(48, 64, 64, 1.0) 0%, rgba(0, 0, 0, 1.0) 100%);
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#main h1 {
    margin: 2vw 0;
    color: white;
}

.to-do-input {
    padding-bottom: 1vw;

}

.to-do-input input {
    border-radius: 5px;
    width: 15vw;
    height: 2vw;
    padding-left: 5px;
    border: none;
}

.to-do-input button {
    border-radius: 5px;
    width: 5vw;
    height: 2vw;
    cursor: pointer;
}

.to-do-list i {
    display: flex;
    position: relative;
    top: -1.3vw;
    left: 15.3vw;
    border-radius: 5px;
    background-color: aliceblue;
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    padding: 6px 6px;
}

.input-controller textarea {
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    color: white;
    font-size: 1.1rem;
    font-family: inherit;
    transition: all 0.30s ease-in-out;
    border-radius: 5px;
    width: 15vw;
    height: 2vw;
    padding: 3px 10px;
    margin-right: 5vw;
    margin-bottom: -1vw;
}

@media(max-width: 768px) {
    #main {
        width: 95%;
        text-align: center;
    }

    .input-header {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .to-do-input {
        display: flex;
    }

    .to-do-input input {
        width: 200px;
        height: 25px;
        margin: 0 10px;
    }

    .to-do-input button {
        width: 50px;
        height: 25px;
    }

    .to-do-list i {
        top: -1.3vw;
        left: 15.3vw;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        padding: 6px 7px;
        left: 210px;
        top: -27px;
    }

    .input-controller textarea {
        width: 200px;
        height: 30px;
        margin-right: 50px;
    }
}